body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 5%;
    background-color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
    color: white;
    box-sizing: border-box;
}

nav:hover {
    background-color: #141414;
}

#yt, #usuario, #searchButton {
    width: 5%;
    position: relative;
    transition: transform 0.3s ease;
}

#yt:hover, #usuario:hover, #searchButton:hover {
    transform: scale(1.2);
}

ul {
    list-style-type: none;
    display: flex;
    gap: 10%;
    padding: 0;
    margin: 0;
    justify-content: center;
    flex: 1;
    color: white;
}

li {
    font-size: 1em;
    text-align: center;
    white-space: nowrap;
    margin-right: 10px;
    transition: color 0.3s ease;
    color: white;
}

li:hover {
    color: #007bff;
}

li > a {
    color: white;
}

input {
    width: 30%;
    height: 35px;
    margin-right: 2%;
    padding-left: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
    background-color: #c9c3c3;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    color: white;
}

input:focus {
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
    outline: none;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-image: url('./Images/b.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    color: white;
}

.video-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    width: 90%;
    margin: 40px auto;
    color: white;
}

.video-item {
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
    color: white;
    width: 100%;
    max-width: 200px;
}

.video-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.video-thumbnail {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
    color: white;
}

.video-thumbnail:hover {
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.7);
}

.video-navigation {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

button {
    height: 35px;
    width: 120px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10%;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
#nextButton{
    margin-right: 0.3%;
}
#prevButton{
    margin-left: 0.3%;
}

button:hover {
    background-color: #970303;
    transform: scale(1.05);
}

a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #ff0000;
    text-decoration: underline;
}

.video-item h3 {
    color: white;
}

footer {
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
    position: relative;
    margin-top: auto; 
}

@media (max-width: 768px) {
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        flex-wrap: wrap;
    }

    ul {
        display: flex;
        flex: 1;
        justify-content: center;
        gap: 5%;
        margin: 0;
        padding: 0;
    }

    li {
        margin-right: 5px;
        font-size: small;
    }

    #yt {
        width: 7%;
        position: absolute;
        left: 10px;
    }

    input {
        width: 70%;
        margin-left: auto;
        margin-right: 10px;
    }

    .video-container {
        width: 100%;
        margin: 20px auto;
        flex-direction: column;
    }

    .video-item {
        width: 100%;
        max-width: 100%;
    }

    .video-thumbnail {
        width: 100%;
    }


    .video-item:not(:first-child) {
        display: none;
    }
    button{
        margin-top: 30%;
    }
}
